@import "tailwindcss";

@theme inline {
  --color-bima-orange: #f39200;       /* Oranye terang prototipe */
  --color-bima-orange-light: #fff5eb; /* Background menu aktif */
  --color-bima-bg: #f8f9fa;           /* Background konten utama */
}

:root {
  --background: #f8f9fa;
  --foreground: #171717;
}

/* Pastikan tidak ada dark mode yang mengganggu warna putih/abu-abu kita */
body {
  background-color: var(--color-bima-bg);
  color: #111827;
}